#minesweeper-title-card {
    position: relative;
    margin: 25px auto 60px auto;
    padding: 20px;
    background-color: navajowhite;
    border-radius: 15px;
    box-shadow: 5px 5px 5px 5px burlywood;
    width: 80%;
    height: 30%;
    max-width: 500px;
    font-size: 2.5em;
}

#minesweeper-info-button {
    position: absolute;
    right: 0.5em;
    top: 50%;
    transform: translate(0,-50%);
}

/* div centering magic */
#minesweeper-wrapper { 
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    
    display: flex;
    align-items: center;
    flex-basis: column nowrap;
    justify-content: center;
    width: 100%;
}

#minesweeper-wrapper-content-center {
    width: 100%;
}

#minesweeper-board {
    margin:auto;
    max-width: 80%;
    background-color: navajowhite;
    display: inline-flex;
    flex-flow: column nowrap;
    padding: 25px;
    border-radius: 15px;
    box-shadow: 5px 5px 5px 5px burlywood;
}

.minesweeper-board-row {
    display: inline-flex;
    flex-flow: row nowrap;
    flex-basis: 100%;
}